:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#root {
    margin: 2vw;
}

#root--cart--container {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#whole--container {
    display: flex;
    flex-direction: row;
}

#cart--products {
    width: 20%;
    position: sticky;
    top: 0;
    right: 0;
}

hr.solid {
    border-top: 3px solid #bbb;
}

#cart__products__heading__title {
    font-weight: bolder;
    font-size: larger;
}

#cart--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card--container {
    max-width: 15vw;
    margin: 10px;
    border: 1px solid lightgrey;
}

.upper--div {
    border-bottom: 1px solid lightgrey;
}

.lower--div {
    padding: 10px;
}

.card__image {
    width: 15vw;
    height: 20vh;
    object-fit: fill;
}

.card__title {
    white-space: nowrap;
    overflow: scroll;
    max-width: 15vw;
}

.price--div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cart__button {
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    border: none;
    background-color: red;
    color: white;
}

#cart__count {
    display: flex;
    align-items: center;
}

.card__price__dis {
    font-weight: bold;
}

.card__price__og {
    text-decoration: line-through;
    font-size: 0.85rem;
    color: grey;
}
